
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    width: 60%;
    height: 200px;
    background-color: #204566;
    display: block;
    margin: 0 auto;
}
.headerpicture{
    width: 260px;
    height: 100%;
    background-image: url('Bookstorelogo.jpg');
    background-size: cover;
    border-radius: 60%;
}
footer{
    width: 60%;
    height: 200px;
    background-color: #204566;
    display: block;
    margin: 0 auto;
}
.navigation{
    height: 100%;
    display: table;
    float: right;
    text-align: center;
}
.navigation a li{
    float: left;
    padding: 150px 20px;
    display: table-cell;
    height: 100%;
    vertical-align: center;
    color: white;
    font-size: 20px;
}
main {
    box-sizing: border-box;
    margin: 20px;
    width:100%;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb{
    padding: 50px 100px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-item{
    display: inline;
    font-size: 18px;
}

.breadcrumb li+li:before{
    padding: 5px;
    color: rgb(6, 7, 80);
    content: ">";
}

.breadcrumb-item a{
    color: #413375;
}
  
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    padding: 10px;
    grid-gap: 20px;
  }

.box1 {
    grid-row-start: 1;
    grid-row-end: 4;
}
.title{
    grid-row-start: 4;
    grid-column-start: 1;
}
.description{
    grid-row-start: 5;
    grid-column-start: 1;
}
.box2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box4{
    grid-column-start: 2;
    grid-row-start: 3;
}
.detail_price{
    font-size: xx-large;
}
.button{
    background-color: #d40c0c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}